#content-container {
  padding: 18px 1.5rem 0;
  padding-top: 18px;
}

@media screen and (min-width: 750px) {
  #content-container {
    padding: 18px 5rem 0;
  }
}

.calc-inputs {
  flex-direction: row;
  max-width: unset;
  width: 100%;
  max-height: unset;
}

tbody tr td .usuario-acciones {
  display: flex;
  align-items: center;
  justify-content: center;
}

tbody tr td div, tbody tr th {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

tbody tr td button {
  outline: none;
  border-radius: none;
  color: #000;
  border: none;
  font-weight: 400;
  background: #fff;
  cursor: pointer;
}

.calc-input button.btn-login {
  background: #000;
  color: #fff;
}

.input-symbol {
  padding: 10px;
}

.input-symbol {
  width: 45px;
  text-align: center;
  cursor: pointer;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.calc-results {
  max-width: 300px;
  min-width: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 47px;
}

.monthly-payment {
  font-size: 28px;
  font-weight: 900;
  margin-top: 6px;
  display: flex;
  align-items: flex-start;
  gap: 2px;
}

.monthly-payment-symbol {
  margin-top: -3px;
  line-height: 10px;
  font-size: 10px;
}

.calc-table {
  padding-bottom: 47px;
  max-width: 100%;;
}

table {
  border-collapse: collapse;
}

table thead tr th {
  border-bottom: 1px solid #000;
  font-weight: 400;
  font-size: 12px !important;
  padding: 8px 12px;
  line-height: 1.3;
}

table tbody tr td {
  border-bottom: 1px solid #000;
  padding: 8px 12px;
  line-height: 1.3;
}

table thead tr th:first-child {
  max-width: 51px;
  min-width: 51px;
  width: 51px;
}

table tbody tr td:first-child {
  text-align: right;
  max-width: 51px;
  min-width: 51px;
  width: 51px;
}
